.main-cont {
  margin: 0 9% 0 9%;
  padding: 2% 2% 0 2%;
  display: flex;
  background-color: white;
}
.section-1 {
  display: flex;
  height: 60vh;
  margin-right: 1%;
  width: 35.1%;
}
.small-img-cont {
  max-width: 16%;
  min-width: 16%;
  overflow: scroll;
  width: 16%;
  height: 39.5vh;
}
.small-img {
  border-radius: 7px;
  margin-bottom: 4%;
  width: 91%;
  height: 9vh;
  display: flex;
  flex-direction: column;
}
.images {
  box-shadow: 2px 0px 1px 1px #e1d9d9;
  border: px solid black;
  border-radius: 7px;
  height: 62px;
  min-height: 62px;
  max-height: 62px;
  margin-top: 5%;
}
.large-img {
  margin-left: 2%;
  height: 52vh;
  width: 94%;
}
.btn-cont {
  margin: 3% 6% 0 3%;
}
.add-cart {
  border: none;
  height: 6vh;
  color: white;
  background: #ff9f00;
  width: 45%;
}
.buy-now {
  border: none;
  height: 6vh;
  color: white;
  background: #fb641b;
  width: 45%;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

Track ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* img {
    height: 55vh;
  } */
.a {
  font-weight: 600;
  text-decoration: none;
}
.a:hover {
  color: #d93737;
  text-decoration: underline;
}
.section-2 {
  height: 114vh;
  overflow-y: scroll;
  padding: 1%;
  margin-right: 2%;
  width: 62%;
}
.sec-cont-1 {
  margin-bottom: 0;
  margin-right: 3%;

  font-size: 26px;
  color: #d93737;
}
.sec-cont-2 {
  font-size: 26px;
  margin-bottom: 0;
}
.sec-cont-3 {
  color: grey;
  margin-bottom: 0.5%;
  font-size: 12px;
  text-decoration: line-through;
}
.sec-cont-31 {
  color: grey;
  margin-bottom: 0.5%;
  font-size: 14px;
  margin-left: 5%;
  text-decoration: line-through;
}
.sec-cont-4,
.sec-cont-5 {
  margin-bottom: 0;
  color: rgb(67, 65, 65);
}

.sub-sec-3 {
  border-radius: 11px;
  margin-top: 1%;
  height: 17vh;
  box-shadow: 1px 0px 7px 0px grey;
  width: 26%;
  margin-right: 2%;
  padding: 1%;
}
.offer-list {
  line-height: 18px;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 0;
}
.offer {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 2%;
  color: rgb(31, 134, 175);
}
.about {
  line-height: 25px;
  font-size: 15px;
  color: rgb(67, 65, 65);
}
.ico {
  height: 15vh;
  width: 19%;
  margin-bottom: 0;
}
.icon-delivery {
  width: 85%;
  font-size: 27px;
  color: grey;
}
.delivery1 {
  font-weight: 500;
  color: #0887bb;
  margin-bottom: 0;
  text-align: center;
  line-height: 2vh;
  width: 61%;
  font-size: 12px;
  width: 77%;
}

.input {
  height: 28px;
  margin-right: 3%;
}
.off {
  color: #d93737;
  font-weight: 500;
  font-size: 16px;
  display: flex;
}

.del {
  color: #0887bb;
  font-size: 14px;
}
.del:hover {
  color: #d93737;
}
.stock {
  font-size: 14px;
}
.stock1 {
  color: #0887bb;
  cursor: pointer;
}
.stock1:hover {
  color: #d93737;
  text-decoration: underline;
}
.btn-1 {
  border-radius: 19px;
  margin-left: 3%;
  width: 92%;
  height: 5vh;
  color: black;
  margin-top: 5%;
  padding: 3%;
}
.about {
  line-height: 207%;
}
