body {
  background-color: black;
}
.clip {
  background-color: red;
  width: 200px;
  height: 200px;
}
.clip-1 {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  margin: 1% auto;
}
.clip-2 {
  margin-left: 25%;
  clip-path: polygon(
    10% 25%,
    35% 25%,
    35% 0%,
    65% 0%,
    65% 25%,
    90% 25%,
    90% 50%,
    65% 50%,
    65% 100%,
    35% 100%,
    35% 50%,
    10% 50%
  );
}
.clip-3 {
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  margin-left: 58%;
  margin-top: -13%;
}
.clip-4 {
  margin-left: 19%;
  margin-top: 8%;
  clip-path: polygon(
    43% 0,
    18% 0,
    18% 44%,
    18% 100%,
    43% 100%,
    53% 48%,
    69% 100%,
    100% 100%,
    99% 52%,
    100% 0,
    77% 1%,
    64% 49%
  );
}
.clip-5 {
  margin-left: 40%;
  margin-top: -13%;

  clip-path: polygon(29% 0, 51% 68%, 75% 0, 100% 0, 70% 100%, 36% 100%, 0 0);
}
.clip-6 {
  margin-left: 60%;
  margin-top: -12%;

  clip-path: polygon(
    25% 81%,
    100% 5%,
    100% 4%,
    100% 27%,
    27% 100%,
    0 89%,
    0 65%
  );
}
