* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Vollkorn", serif;
font-size: large;
  background-color: #d9edf7;
}
header {
  margin: auto;

  width: 94%;
  height: 187px;
}
.nav-bar1 {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: #1ca6ef;
}
.img-para-cont {
  display: flex;
  align-items: center;
}
.image1 {
  margin-top: 0.3%;
  width: 60px;
}
.image2 {
  width: 95%;
  height: 8vh;
}
p {
  width: 66%;
  color: white;
}
.word1 {
  font-size: 18px;
}
.word2 {
  font-size: 18px;
  margin-top: 6%;
  margin-left: 31%;
}
.word3 {
  font-size: 18px;
  margin-left: 37%;
}
.inp {
  color: white;
  background: #1ca6ef;
  border: none;
}
.btn {
  font-size: 1rem;
  background: #3c763d;
  color: white;
  border-radius: 4px;
  width: 131%;
  height: 4vh;
  margin-top: 7%;
  border: none;
}
.lang {
  width: 50%;
  margin-left: 8%;
}
.nav-bar2 {
  margin-top: 0px;

  width: 100%;
  height: 5vh;
  background-color: #d9edf7;
}
h2 {
  text-align: center;
  color: #202afe;
  padding: 0.3%;
}
.nav-third {height: 5vh;
  display: flex;
  width: 100%;
  padding: 0.5%;
color: white;
  background-image: linear-gradient(to top, #1a7cb5, #3fabcb);
}
label {
  transition-property: all;
}
label:hover {
  color: black;
}
select {
  border: none;
  width: 10%;
  color: white;
  transition-property: all;
  background-color: grey;
  background-image: linear-gradient(to top, #1a7cb5, #3fabcb);
}
select:hover {
  /* color: white; */
}

.btn2 {
  font-size: medium;
  background: #d6f388;
  color: red;
  border-radius: 4px;
  width: 107%;
  height: 3.5vh;
  margin-top: -4%;
  transition-property: all;
  border: none;
}
.btn2:hover {
  border: 3px solid black;
}
.btn3 {
  font-size: medium;
  background: #d6f388;
  color: red;
  border-radius: 4px;
  width: 108%;
  height: 3.5vh;
  margin-left: 10%;
  transition-property: all;
  padding: 4.5%;
  margin-top: -4%;
  border: none;
}
.btn3:hover {
  border: 3px solid black;
}
main {
  height: 63%;
  background: white;
  margin: auto;

  width: 94%;
}
.para {
  color: black;
}
.img1 {
  margin-top: 1%;
  width: 14%;
}
.img2 {    margin-left: 0.7%;
  margin-top: 1%;
  width: 14.2%;
}
.imgggg{
  margin-left: .99%;
}
.img3 {    margin-left: 2.2%;
  margin-top: 1%;
  width: 16%;
}
.imgg{
  margin-left: .5%;
}
.img4 {    margin-left: 2.7%;
  margin-top: 1%;
  width: 13%;
}
.imggg{
  margin-left: 2.4%;
}
.img5 {    margin-left: 2%;
  margin-top: 1%;
  width: 15%;
}
.img6 {
  margin-top: 1%;

  width: 17%;
}
/* .pics {
  margin-left: 16%;
} */
.para {
  text-align: center;
}
.img7 {
  width: 16%;margin-left: 0.5%;
}
.imggggg{
  margin-left: -1.1%;
}
.img8 {
  margin-left: 2%;
  width: 16%;
}
.img9{
  margin-left: -1%;
}
footer {
  background: #1ca6ef;
  height: 14vh;
  margin: auto;
  padding: 0.5%;
  width: 94%;
  padding: 0.5%;
}
.image2 {
  height: 9vh;
  width: 84%;
}
.para1 {
  color: white;
  width: 102%;
}
li {
  list-style: none;
  color: white;
}
.imgaes {    margin-left: 2%;
  margin-top: 1%;
}
.picture1:hover {
  transform: rotate(75deg);
}
.picture2:hover {
  transform: rotate(180deg);
}
.picture3:hover {
  transform: rotate(260deg);
}
.picture4:hover {
  transform: translateX(20px);
}
.picture5:hover {
  transform: translateY(20px);
}
.picture6:hover {
  transform: scale(0.5);
}
.picture7:hover {
  transform: scale(1.5);
}
.picture8:hover {
  transform: skewX(45deg);
}
.picture9:hover {
  transform: skewY(25deg);
}
.picture10:hover {
  transform: scale3d(1.5, 1.5, 1.5);
}
.picture11:hover {
  transform: rotate(90deg);
}
.picture12:hover {
  transform: rotate(15deg);
}
.picture14:hover {
  transform: rotate(75deg);
}
.picture15:hover {
  transform: rotate(320deg);
}
.picture0:hover {
  transform: skewY(25deg);
}
.picture16:hover {
  transform: translateX(40%);
}
.pic:hover {
  transform: scale(1.5);
}
.pict:hover {
  transform: scale(2);
}
.picture:hover {
  transform: rotate(130deg);
}
