.font-color {
  color: grey;
  font-weight: bold;
}
.Link-deco {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
.cont {
  height: 6.5vh;
}
.font-color1 {
  color: grey;
  font-weight: bold;
}
