.font-color {
  color: grey;
  font-weight: bold;
}

.imag {
  margin-right: 0.5%;
  height: 5vh;
  border-radius: 50%;
  border: 1px solid beige;
  width: 40px;
}
.name {
  margin-right: 1%;
  margin-bottom: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
.font-color1 {
  color: grey;
  font-weight: bold;
}
.text {
  font-size: 17px;
  color: black;
  border-radius: 15px;
  background: wheat;
  font-weight: bold;
  position: absolute;

  top: -22.2%;
  border: 1px solid;
  padding: 0.2% 2%;
}
.text1 {
  position: absolute;
  top: -21%;
  right: 10%;
}
.nav-bar {
  background-color: #2975f0;
  color: white;
  margin-bottom: 10px;
  position: sticky !important;
  z-index: 2;
  top: 0%;
  width: 100%;
  margin: auto;
}

.me-auto {
  color: white !important;
}

.me-auto .nav-item {
  color: white !important;
  margin-right: 0px !important;
}

#basic-nav-dropdown {
  color: white !important;
}
.links {
  text-decoration: none;
  color: #8a578b;
}

.count {
  font-weight: 900 !important;
}

.user-details {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
}

.user-name {
  text-align: center;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .search-field {
  width: 45%;
  margin: auto;
}

.cart-icon-cont {
  margin-right: 10px;
}
.cart-counts {
  position: absolute;
  top: 14%;
  left: 73%;
  background-color: red;
  color: yellow;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0;
  text-align: center;
}
