* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 6.25%;
}
body {
  height: 230vh;
  margin: auto;
  border: 1px solid black;
  width: 100%;
}
.title-cont {
  display: flex;
}
.img-cont {
  margin-top: 4%;
}
.title {
  margin-bottom: 0;
  margin-top: -30px;
  font-size: 134px;
  height: 25vh;
  font-family: "Alfa Slab One", cursive;
  margin-left: 15%;
}
.content1 {
  margin-left: 16%;
  font-size: medium;
  display: inline-block;
}
.content2 {
  display: inline-block;
  font-size: medium;
  margin-left: 9%;
}
.content3 {
  background-color: #cbdcf0;
  margin-left: 9%;
  width: 107%;
  position: sticky;
  top: 2%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
}
.content4 {
  color: blue;
  font-size: large;
  text-align: right;
  margin-top: 3%;
}
.content5 {
  margin-top: 1%;
  text-align: center;
  font-size: 12px;
}
.content6 {
  font-size: small;
  margin-left: 6.5%;
}
.content7 {
  font-size: small;
  margin-right: 4.9%;
}
.int-cont {
  width: 14%;
  display: flex;
}
.img1 {
  margin-left: 63%;
  height: 25vh;
  width: 160px;
}
.img2 {
  height: 158px;
  width: 171px;
}
section {
  display: flex;
  justify-content: space-evenly;
}
.int-cont1 {
  background-color: white;

  margin-left: 1%;
  width: 20%;

  height: 8vh;
  margin-top: 0.7%;
}
.int-cont2 {
  background-color: white;

  width: 20%;

  height: 8vh;
  margin-top: 0.7%;
}
.int-cont3 {
  background-color: white;
  width: 20%;

  height: 8vh;
  margin-top: 0.7%;
}
.int-cont4 {
  background-color: white;
  width: 20%;

  height: 8vh;
  margin-top: 0.7%;
}
.line {
  margin-top: 0.6%;
  display: flex;
  justify-content: space-between;
}
.title1 {
  line-height: 108%;
  width: 96%;
  font-size: 59.5px;
  height: 9vh;
  margin-left: 7%;
  font-family: "Anton", sans-serif;
}
.title2 {
  margin-left: 4%;
  justify-content: space-between;
  display: flex;
}
span {
  margin-bottom: 0;
  font-size: 59.5px;
  margin-top: 0;
  font-family: "Anton", sans-serif;

  color: red;
}
.span2 {
  font-size: 36px;
  color: red;
  font-family: none;
}
li {
  font-size: 23px;
}
.para-cont {
  justify-content: space-between;
  display: flex;
  margin-left: 2%;
}
.para-cont1 {
  margin-left: 6%;
  width: 23%;
  margin-top: 1%;
}
p {
  font-size: small;
}
.img {
  margin-left: 5%;
  width: 100%;
  height: 67vh;
}
.img3 {
  height: 36vh;
  height: 43%;
  width: 25%;
  margin-left: 9%;
  margin-top: -17%;
  box-shadow: 0px 0px 1px 7px white;
}
.img4 {
  margin-top: 4%;
  margin-left: 2%;
  height: 10%;
  width: 73px;
}
.img5 {
  margin: 3% 2% 0% 2%;
  height: 9vh;
  width: 17%;
}
.img6 {
  margin-left: 1%;
  height: 41vh;
  width: 38%;
}
b {
  font-size: small;
}
.highlight {
  font-family: none;
  font-size: 83px;
  margin-right: 2%;
  float: left;
  height: 69px;
  margin-top: -5%;
}
.para {
  text-indent: 5%;
}
.para6 {
  margin-top: -2%;
  margin-left: 65%;
  font-size: x-small;
}
.span1 {
  margin-bottom: 0;
  font-size: 13.5px;
  margin-top: 0;

  color: red;
}
.para5 {
  margin-left: 4%;
}
.para7 {
  font-size: small;
  overflow-x: auto;
  margin-left: 3%;
  width: 58%;
  height: 44.6vh;
  margin-top: 0.7%;
}
.para-8 {
  margin: 4.5% 2% 0%;
  height: 7vh;
  background-color: white;
}
.para9 {
  background-color: white;
  margin: 4% 2% 0% 0%;
  height: 8vh;
}
.para10 {
  font-size: 36px;
}
.para11 {
  height: 40vh;
  overflow-x: auto;
  width: 52%;
}
.para12 {
  margin-left: 2%;
  height: 40vh;
  overflow-x: auto;
  font-size: 13px;
  height: 40vh;
  width: 50%;
  background-color: #dfe7d0;
}
hr {
  width: 96%;
  margin-left: 2%;
  margin-top: 4%;
}
.last-cont {
  height: 57vh;
  margin-left: 0.9%;
  margin-top: 2%;
  background-color: #eef1f6;
  width: 60%;
}
.container {
  display: flex;
  margin-left: 7%;
}
.side-cont {
  margin-top: 2%;
  height: 58vh;
  padding: 1%;
  width: 54%;
}
h1 {
  margin-top: 2%;
  text-align: center;
  font-size: x-large;
}
.container2 {
  margin-left: 7%;
  margin-top: 2%;
}
.para-img {
  float: right;
  display: flex;
}
.sidebar {
  height: 65vh;
  position: fixed;
  width: 4.6%;
}
.folder {
  display: flex;
  align-items: center;

  margin-top: 12%;
}
.font {
  font-size: medium;
}
a {
  text-decoration: none;
  color: black;
}
.chatbox {
  position: fixed;
  right: 1%;
  top: 84%;
}
