*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
background-color: #EFF6F7;
    width: 100%;
    height: 400vh;
}
header{
    width: 100%;
    height: 9.7vh;background-color: white;
}
.int-body{
    width: 79%;  height:350vh;    border: 1px solid black;    margin: auto;
}
.navbar{
background-color: white;
    width:78%;    font-family: 'Merriweather', serif;
    height: 9.4vh;display: flex;position:fixed;
    z-index: 1;
}
.image-name{
    display: flex;
   align-items: center;
}
h2{
        margin-left: .5%;
        font-size: 2rem;color:#4a4c4d;
}
 .btn1{
    margin: 1% 0% 0 15%;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    width: 15%;
    padding:.5%;
    font-size: 19px;
    border: 2px solid #88c8cd;
    height: 5.7vh;
    color: #4a4c4d;
 }
 .btn1:hover{
    background:#CAE2E4;
    border:2px solid black
 }
 .btn2{
    margin: 1% 0% 0 1%;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    width: 12%;
    padding:.5%;
    font-size: 19px;
    border: 2px solid #88c8cd;
    height: 5.7vh;
    color: #4a4c4d;
 }
 .btn2:hover{
    background:#CAE2E4;
    border:2px solid black
 }
 .btn3{
   margin: 1% 0% 0 10%;
   border-radius: 50px;
   font-weight: bold;
   text-align: center;
   width: 15%;
   padding: .5%;
   font-size: 19px;
   height: 5.7vh;
   color: white;
   background: #FF8672;
 }
 .btn9{
   margin: 1% 0% 0 1%;
   border-radius: 50px;
   font-weight: bold;
   text-align: center;
   width: 11%;
   padding: .5%;
   font-size: 19px;
   height: 5.7vh;
   color: white;
   background: #FF8672;
 }
 .btn3:hover{
    background: #2a4149;
  
 }
 .main{
   width: 53%;
 }
 h1{
   color: #2B434A;
   margin-left: 1%;
   font-size: 3rem;
   margin-top: 30%;
 }
 .para{
   font-family: 'Merriweather', serif;
   color: #727272;
   margin-left: 1%;
   margin-top: 5.5%;    line-height: 220%;
}.para1{
   font-family: 'Merriweather', serif;
   color: #727272;
   margin-left: 1%;    line-height: 220%;
   margin-top: 4.5%;
}.btn4{
   margin: 6% 0% 0 1%;
   border-radius: 50px;
   font-weight: bold;
   width: 29%;
   padding: .7%;
   font-size: 19px;
   height: 5.7vh;
   color: white;
   background: #FF8672;
}.btn5{
   margin: 6% 0% 0 4%;
   border-radius: 50px;
   font-weight: bold;
   width: 21%;
   padding: .7%;
   font-size: 19px;
   height: 5.7vh;
   color: white;
   background: #FF8672;
}
.para2{
   margin-left: 7%;  
}
.border{
   background-image:linear-gradient( #f77d68, #FF9A88);
   border-radius: 0 150px 0 150px;
   margin-left: 1%;
   height: 59vh;
   margin-top: 11%;
   width: 52%;position: relative;
}.cont{
   display: flex;
}.img{
   position: absolute;
}.img1{
   left: 17%;z-index: 1;
   top: 22.8%;
}.img2{
   left: 2%;
   transform: rotate(19deg);
   top: 7%;
}
.img3{
   top: 7%;
   left: 41%;
   transform: rotate(-208deg);
}.img4{
   top: 33%;
   left: 14%;
}.img5{
   left: 16%;
   top: 8%;
   transform: rotate(-14deg);
}.img6{
   left: 61%;
   top: 39%;    transform: rotate(27deg);
}.para3{
   line-height: 148%;
    color: #727272;
    font-size: 21px;
    text-align: center;
}.images{
   background: black;
    border: 1px solid;
    height: 56px;
    border-radius: 50%;
    width: 71px;    margin-top: 2%;
    margin-left: 44%;
}.img1{
   display: flex;
}.para4{
   color: #C89721
}.para5{
   color: #727272
}.border1{
   background-color: #F4EFE5;
   border-radius: 0 150px 0 150px;
   height: 73vh;
   width: 64%;
   position: relative;
   margin: 4% 18% 0% 18%;
}
ul{   width: 82%;
   line-height: 226%;
   font-size: 18px;
   margin-left: 8.5%;
   position: absolute;
   top: 18%;
   color: #7E807D;

}
ul{
   list-style: none;
}
ul li::before {
   content: "\2022";
   color:#FF8672 ;
   font-weight: bold;
   display: inline-block; 
   width: 1em;
  height: 2em;
 }

.btn6 {
    margin: auto;
    border-radius: 50px;
    font-weight: bold;
    width: 20%;
    padding: .48%;
    font-size: 23px;
    height: 6.2vh;
    color: white;
    background: #f76b54;margin-top: 3%; }
    .para6{margin: 4% 9% 0 28%;
      font-size: 2.5rem;
      font-weight: bold;
      color: #4a4c4d;
  }.hover-propty{    margin-top: 5%;
   justify-content: center;
   display: flex;}
  
  .image1{
   width: 100%;
   height: 56vh;position: relative;
  }
  .border2{    background: white;
   position: absolute;
   width: 85%;
   height: 33vh;
   top:0%;

  }.image2{
   margin-left: 2%;
 position: relative;
   width: 100%;
   height: 56vh;position: relative;
  }h3{
   font-size: 1.5rem;
    color: #f76b54;
    margin-left: 7%;
    margin-top: 1%;
  }.h1{    font-size: 3.5rem;
   color: #f76b54;
   margin-left: 7%;
   margin-top: 1%;

  }.para7{
   color: #f76b54;
    margin-left: 8%;
    margin-top: 7%;
  }.para8{
   margin-top: 3%;
   width: 77%;
   margin-left: 8%;
   font-size: 1.3rem;
   color:#7E807D;
  }.img-size{
   width: 87%;
   bottom: 5px;
   position: absolute;
   right: -64px;
  }
.hover{
   transition-property: all;
   transition-duration: 2s;
}.hover:hover{
  filter: brightness(.5)
  }  .border3
  {    background: white;
   position: absolute;
   width: 100%;
   height: 36vh;
   top:0%;}
   .img-size1{
      height: 62%;
      width: 51%;
      bottom: 5px;
      position: absolute;
      right: -3px;
   }.title{
      color: #f76b54;
      margin-left: 7%;
      font-size: 2.8rem;
      margin-top: 2%;
   }.title2{
      width: 62%;
    font-size: 1.4rem;
    color: #f76b54;
    margin-left: 7%;
    margin-top: 2%;
   }.image-cont{
      width: 28%;
      height: 30vh;
      margin-left: 1.5%;
      margin-top: 2%;
   }.second-image{
      margin-left: 14%;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
   }