* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(208, 212, 212);
}
.background {
  width: 58%;
  height: 70vh;
  position: relative;
  margin: 8%auto;
  background-color: #3b9386;
}
.progress-bar-border {
  border-radius: 98px;
  height: 7vh;
  border: 26px solid #d93b3b;
  left: 26%;
  top: 40%;
  box-shadow: 2px 4px 7px;
  position: absolute;
  width: 50%;
}
.progress-bar {
  position: absolute;
  top: 3%;
  background: #4f4747;
  border-radius: 82px;
  animation-iteration-count: infinite;
  animation-name: progress-bar;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  height: 5vh;
  width: 8%;
}
@keyframes progress-bar {
  from {
    width: 8%;
  }
  to {
    width: 96%;
  }
}
h3 {
  font-size: 6rem;
  left: 29%;
  position: absolute;
  top: 54%;
}
.boader-bottom {
  width: 6%;
  height: 1rem;
  position: absolute;
  left: 45%;
  animation: loading 6s linear 7s infinite;
  border-bottom: 34px dotted;
  top: 57%;
}
@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
