.logo-cont {
  align-items: center;
  float: center;
  justify-content: center;
  display: flex;
  color: #e59e6e;
}
.img-cont {
  height: 46px;
  width: 60px;
}
.border {
  margin: 9%auto;
  border: 1px solid grey;
  width: 30%;
  height: 68vh;
  background: beige;
}
.title {
  border: 1px solid #f7f4f3;
  width: 88%;
  margin: auto;
  height: 15vh;
  background-color: #f7ede8;
}
.content {
  margin-top: 3%;
  margin-bottom: 1%;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.content1 {
  margin: auto;
  text-align: center;
  width: 48%;
}
form {
  margin: 3% 6% 0%;
}
.inp1 {
  border-radius: 4px;
  margin: 2%;
  width: 27%;
  height: 2vh;
  border: 1px solid grey;
}
.inp2 {
  border-radius: 4px;
  margin: 2% 0%2% 10%;
  width: 77%;
  height: 2vh;
  border: 1px solid grey;
}
.inp3 {
  border-radius: 4px;
  margin: 2% 0%2% 4%;
  width: 77%;
  height: 2vh;
  border: 1px solid grey;
}
.line {
  margin-top: 5%;
}
.btn {
  font-size: large;
  border-radius: 4px;
  width: 100%;
  margin-top: 2%;
  height: 7vh;
  background-color: #e59e6e;
  color: white;
}
