* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  border: 1px solid black;
  width: 100%;
  height: 177vh;
  font-family: "Roboto", sans-serif;
}
header {
  width: 99%;
  height: 7vh;
  margin: auto;
}
.navbar {
  margin: 0.3% 0.5% 0% 1.5%;
  display: flex;
  height: 6vh;
}
.img1 {
  width: 28px;
}
.img2 {
  width: 54px;
}
.img3 {
  width: 20px;
}
.img4 {
  margin-top: 11%;
  margin-left: 22%;
  width: 25px;
}
.img5 {
  margin: 18% 7% 0% 32%;
  width: 23px;
}
.img6 {
  height: 5vh;
  width: 32px;
  margin-left: 15%;
}
h3 {
  margin-left: 15%;
  font-size: 1.9rem;
}
.img7 {
  height: 5vh;
  width: 32px;
  margin-left: 14%;
}
.container {
  margin-left: 21%;
  display: flex;
}
.img8 {
  width: 58px;

  margin-left: 15%;
  border-radius: 50%;
  height: 40.5px;
  border: 1px solid black;
}
.inp-cont {
  margin-left: 16%;
  display: flex;
  width: 31%;
}
.img-cont {
  align-items: center;
  display: flex;
}
.img-cont2 {
  width: 4%;
  border: 1px solid rgb(179, 171, 171);
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;
  border-left: none;
  background-color: #f1ecec;
}
.image {
  margin-top: 2%;
  margin-left: -9%;
}
.para1 {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
}
.inp {
  font-size: small;
  padding: 4%;
  border-bottom-left-radius: 21px;
  border-top-left-radius: 21px;
  width: 100%;
  border: 1px solid grey;
}
.micro-cont {
  background-color: #f1ecec;
  width: 4%;
  border-radius: 50%;
  margin-left: 1.5%;
  background-color: #f1ecec;
}
.anchor {
  display: flex;
  font-size: medium;
}
.img9 {
  width: 24px;
  margin-right: 10%;
}
.setting {
  align-items: center;
  display: flex;
}
.setting1 {
  margin-left: 8%;
  font-size: x-large;
  color: black;
  margin-top: 9%;
}

ul {
  list-style: none;
}
hr {
  margin: 10% 2% 7%;
}
.para2 {
  margin-top: 5%;
  margin-left: 6%;
  font-size: small;
}
.paragraph3 {
  font-weight: bold;
  font-size: x-large;
}
.paragraph4 {
  font-weight: bold;
  font-size: x-large;
  margin-top: 2%;
}
.main-cont {
  margin-left: 4%;
  width: 48%;
}
label {
  font-size: medium;
}
input {
  float: right;
}
.folder {
  display: flex;
}
.para5 {
  margin-top: 7%;
  margin-left: 2%;
  font-size: small;
}
.para6 {
  margin-top: 5%;
  margin-left: 3%;
  font-size: small;
}
.para8 {
  font: medium;
}
