* {
  padding: 0;
  margin: 0;
}
.large-img img {
  height: 52vh !important;
  min-height: 52vh !important;
  max-height: 52vh !important;

  width: 94%;
}
body {
  background-color: #f1f3f6 !important;
}
