* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  background-image: url(./black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.head-container {
  height: 8vh;
  margin-left: 3%;
  display: flex;
}
h1 {
  color: white;
  font-size: 5rem;
}
.navbar {
  margin-top: 1.8%;
  margin-left: 21.4%;
  font-size: 2rem;
  display: flex;
}
.size {
  margin-left: 26%;
  text-decoration: none;
}
a {
  margin-left: 17%;
  color: white;
  text-decoration: none;
}
input {
  margin-top: 11%;
  height: 5vh;
  border-radius: 93px;
  padding: 7%;
  width: 119%;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(243, 43, 73);
}
h4 {
  margin-left: 3.5%;
  font-size: 2.5rem;
  color: grey;
  margin-top: 8%;
}

.name {
  margin-left: 3%;
  margin-top: 1%;
}
h2 {
  color: white;
  font-size: 2.5rem;
  margin-left: 3.5%;
  margin-top: 1%;

}
.inp {
  border-color: rgb(243, 43, 73);
  margin-top: 3%;
  margin-left: 3.5%;
  padding: 1.2%;
  width: 26%;
  font-size: 1rem;
  color: rgb(212, 204, 204);
  background-color: white;
}
.inp1 {
  height: 4.7vh;
  width: 7%;
  border-color: rgb(243, 43, 73);
  margin-top: 1%;
  margin-left: -7.4%;
  padding: 0.5%;
  font-size: 1rem;
  color: white;
  background-color: rgb(243, 43, 73);}
.footer {
  margin-top: 13%;
}
.tag {
  margin-left: 4%;
  margin-top: 12.5%;
}
.tag1 {
  margin-top: 12.5%;
  margin-left: 1%;
}
